.in-game-header-container{
    position: fixed;
    width:100%;
    height: 40px;
    z-index: 13;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    color: #0084ff;
    top: 0;
}

.in-game-header-item-holder{
    display: flex;
    justify-content: center;
    align-items: center;
    border:none;
    border-right: 1px solid #5221f7;
    background-color: white;
}

.in-game-header-item-holder:active{
    filter: grayscale(70%)
}

.in-game-header-item-holder > i {
    color: #0084ff;
}

.tab-active{
    background-color: #b7dcff;
}

.in-game-main-container{
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.in-game-title{
    position: relative;
    height:20%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 26px;
    color: #b6a0ff;
    text-shadow: 1px 0px #b6a0ff
}

.in-game-title > h2{
    margin-top: 50px;
}

.in-game-role-tab-container{
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: transform 1s ease;
    transform: translateX(0%);
}

.in-game-role-tab-container-invisible-move-right{
    transform: translateX(100%)
}

.in-game-role-tab-container-invisible-move-left{
    transform: translateX(-100%)
}

.in-game-role-tab-title{
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.in-game-role-tab-title > h4 {
    color: #106fc7;
    font-size: 24px;
}

.in-game-role-tab-main{
    position: relative;
    height: 60%;
    width: 90%;
    border-top: 1px solid #168eff;
    border-bottom: 1px solid #168eff;
    
}

.in-game-role-tab-main > p {
    font-size: 24px;
    color: #106fc7;
    margin: 50px;
    font-weight: 500;
}

.in-game-render-ui-container{
    height: 20%;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: #359bfa;
    margin: auto auto;
}

.in-game-render-players-container{
    height: 80%;
    width: 80%;
    font-size: 24px;
    border-top: 1px solid #b6a0ff;
    overflow: auto;
    
}

.in-game-render-players-container > button {
    display: block;
    margin: 20px auto;
    border-radius: 10px;
    height: 50px;
    width: 200px;
    -webkit-appearance: none;
    font-size: 14px;
    color: #0084ff;
    border-color: #bf00ff;
    background-color:white;
}



.in-game-render-players-container > button > i {
    margin-left: 5px;
}

.in-game-render-players-container > div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 50px;
    margin: 30px auto;
    border-bottom:  1px solid #dd80fc;
}

.in-game-render-players-container > div > p {
    color: #359bfa;
    width: 50%;
    height: 100%;
}

.in-game-render-players-container > div > div {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.in-game-render-players-container > div > div > button {
    display: block;
    border-radius: 10px;
    margin-left: 20px;
    height: 30px;
    width: 80px;
    -webkit-appearance: none;
    font-size: 14px;
    color: #0084ff;
    border-color: #bf00ff;
    background-color:white;
}

.in-game-render-target-connection-container{
    /* height: 20%;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center; */
}


.in-game-role-tab-start-end-button-container{
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.in-game-role-tab-start-end-button-container > button {
    display: block;
    margin: 20px auto;
    border-radius: 10px;
    height: 50px;
    width: 200px;
    -webkit-appearance: none;
    font-size: 18px;
    color: #0084ff;
    border-color: #bf00ff;
    background-color:white;
}

.in-game-user-tab-container{
    position: absolute;
    height: 80%;
    width: 100%;
    background-color: white;
    transition: transform 1s ease;
    transform: translateX(-100%);
    top: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.in-game-user-tab-container-visible{
    transform: translateX(0%);
}

.in-game-room-info-container{
    height: 20%;
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-evenly;
    color: #106fc7;
    font-weight: 100;
    font-size: 16px;
}

.in-game-room-history-container{
    height: 80%;
    width: 90%;
    border-top: 1px solid #168eff;
}

.in-game-extra-info-tab-container{
    position: absolute;
    height: 80%;
    width: 100%;
    background-color: white;
    transition: transform 1s ease;
    transform: translateX(100%);
    top: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.in-game-extra-info-tab-container-visible{
    transform: translateX(0%);
}

.in-game-lover-info{
    height: 20%;
    width: 90%;
    border-bottom: 1px solid #168eff;
    display: flex;
    justify-content: center;
    align-items: center;

    color: #106fc7;
    font-weight: 500;
    font-size: 20px;
}

.in-game-charm-info{
    height: 80%;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
}

.in-game-charm-info h4{
    font-size: 18px;
    color: #106fc7;
    margin: 10px;
}

.in-game-charm-info p{
    font-size: 14px;
    color: #106fc7;
    margin: 10px;
}




/* Below is css of non-werewolves ingame ui, using the name of cupid as example*/
.in-game-cupid-layer1-container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.in-game-cupid-layer2-container{
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;

    font-size: 26px;
    color: #359bfa;
    font-weight: 500;
}

.in-game-cupid-layer2-container b {
    font-size: 30px;
}

.in-game-cupid-layer2-container > button{
    margin: 20px auto;
    border-radius: 10px;
    height: 50px;
    width: 200px;
    -webkit-appearance: none;
    font-size: 20px;
    color: #0084ff;
    border-color: #bf00ff;
    background-color:white;
}

.in-game-cupid-layer-container-visible{
    transform: all 1s ease;
    opacity: 1;
    visibility:visible;
}

.in-game-cupid-layer-container-invisible{
    visibility: hidden;
    opacity: 0;
    transform: all 1s ease
}