.waiting-room-container{
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.waiting-room-title{
    height:20%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 26px;
    color: #b6a0ff;
    text-shadow: 1px 0px #b6a0ff;
}

.waiting-room-title > h2 {
    margin-top: 50px;
}

.waiting-room-main-data-container{
    position: relative;
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.current-chosen-cards-title{
    height: 20%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.display-chosen-cards-section{
    position: relative;
    height: 80%;
    width: 90%;
    overflow: auto;
    display: block;

    transform: translateX(0);
    transition: transform 1s ease;
}

.display-cards-container-invisible{
    transform: translateX(110%)
}

.title-of-chosen-cards-tab{
    height: 20%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #106fc7;
    font-size: 24px;
}

.room-information-container{
    position: absolute;
    height: 80%;
    width: 90%;
    background-color: white;
    transition: transform 1s ease;
    transform: translateX(-110%);
    
}

.room-information-container-visible{
    transform: translateX(0)
}   

.room-id-and-number-of-players-container{
    height: 20%;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
}

.room-id-and-number-of-players-container > p{
    color: #106fc7;
    font-weight: 500;
    margin: 10px;
}

.display-player-names-container{
    position: relative;
    height: 70%;
    width: 100%;
    border-top: 1px solid #168eff;
    border-bottom: 1px solid #168eff;
    overflow: auto;
    display: block;
}

.start-button-container{
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.start-button-container>button{
    margin-top: 50px;
    border-radius: 10px;
    height: 50px;
    width: 30%;
    -webkit-appearance: none;
    font-size: 20px;
    color: #0084ff;
    border-color: #bf00ff;
    background-color:white;
}