.end-turn-witch-button{
    border-radius: 10px;
    height: 40px;
    width: 130px;
    -webkit-appearance: none;
    font-size: 14px;
    color: #0084ff;
    border-color: #bf00ff;
    background-color:white;
    margin-left: 10px;
}