.grayder-background{
    filter: grayscale(70%) !important;
    background-color: rgb(185, 185, 185);
}

.in-game-render-players-container-werewolve{
    height: 70px !important;
    width: 90% !important;
    margin: auto auto !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.in-game-render-players-container-werewolve button{
    border-radius: 10px;
    height: 50px;
    width: 200px;
    -webkit-appearance: none;
    font-size: 16px !important;
    color: #0084ff;
    border-color: #bf00ff;
    background-color:white;
}

@media only screen and (max-width: 767px){
    .in-game-render-players-container-werewolve button{
        font-size: 14px !important;
        height: 40px !important;
    }
}

.in-game-render-players-container-werewolve-chosen{
    width: 100% !important;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: #359bfa;
}

.agree-on-kill-button{
    border-radius: 10px;
    height: 50px;
    width: 130px;
    -webkit-appearance: none;
    font-size: 16px !important;
    color: #0084ff;
    border-color: #bf00ff;
    background-color:white;
    margin-left: 10px;
}

@media only screen and (max-width: 767px){
    .agree-on-kill-button{
        height: 40px !important;
        font-size: 14px !important;
        width: 120px !important;
    }
}

.werewolves-announce-holder{
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    color: #359bfa;
}

@media only screen and (max-width: 767px){
    .werewolves-announce-holder{
        font-size: 16px;
    }
}

.werewolves-false-phase-holder{
    height: 80%;
    width: 80%;
    font-size: 24px;
    border-top: 1px solid #b6a0ff;
    overflow: auto;
}

.werewolves-end-turn-button{
    margin: 0px 10px;
    border-radius: 10px;
    height: 50px;
    width: 200px;
    -webkit-appearance: none;
    font-size: 20px;
    color: #0084ff;
    border-color: #bf00ff;
    background-color:white;
}

@media only screen and (max-width: 767px){
    .werewolves-end-turn-button{
        width: 100px;
        height: 40px;
        font-size: 18px;
    }
}

.player-holder-grayer-background{
    background-color: rgb(199, 199, 199);
}



@media only screen and (max-width: 767px){
    .werewolves-annouce-words{
        width: 60%;
        height: 100%;
    }
}